$color-gray-dark: #404040;
$color-blue-dark: #181e4b;
$color-blue-gray: #5e6282;
$color-orange-warm: #df6951;
$color-yellow: #ffa90f;
$color-white: #ffffff;
$color-gray-medium: #686d77;
$color-navy-dark: #14183e;
$color-navy: #1e1d4c;
$color-black: #080809;
$color-medium-blue-gray: #84829a;
$color-purple: #8a79df;
