@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.heading {
  font-size: 2.95rem;
  font-family: "Volkhov";
  font-weight: bold;
  color: #14183e;
}

.heading-label {
  font-size: 1.05rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #5e6282;
}

body {
  padding: 0 10%;
}

.corner-decoration {
  position: absolute;
  top: 0px;
  z-index: -2;
}

.left-corner-decoration {
  left: 0px;
}

.right-corner-decoration {
  right: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.main-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.main-links__link {
  font-size: 1rem;
  color: #404040;
  text-decoration: none;
}

.side-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.side-links__signup-button {
  padding: 6px 21px;
  border-radius: 5px;
  border: 1px #404040 solid;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Open Sans";
}

.side-links__language-select {
  font-size: 1rem;
  color: #404040;
  background-color: transparent;
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.hero__content__tagline {
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  color: #df6951;
}

.hero__content__heading {
  position: relative;
  font-family: "Volkhov";
  font-size: 84px;
  font-weight: bold;
  letter-spacing: -4%;
  line-height: 89px;
  color: #181e4b;
}

.hero__content__heading__text-underline-decor {
  position: absolute;
  top: 70px;
  left: 280px;
  z-index: -1;
}

.hero__content__description {
  margin-top: 1.5rem;
  font-family: "Poppins";
  font-size: 0.94rem;
  color: #5e6282;
  line-height: 30px;
}

.hero__content__cta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 1.8rem;
}

.hero__content__cta-button--more {
  padding: 1rem 1.44rem;
  font-family: "Open Sans";
  font-size: 1.06rem;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background-color: #ffa90f;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  cursor: pointer;
}

.hero__content__cta-button--play-demo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.hero__content__cta-button--play-demo {
  font-family: "Poppins";
  font-size: 1rem;
  color: #686d77;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.play-button {
  width: 52px;
  height: 52px;
  background: #df6951;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.play-button::before {
  content: "";
  position: absolute;
  left: 21px;
  top: 17px;
  width: 0;
  height: 0;
  border-left: 14px solid white;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.hero__image-wrapper {
  height: 764px;
  width: 100%;
  overflow: hidden;
}
.hero__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.services__heading {
  margin-top: 1rem;
}

.services__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2.6rem;
}

.services__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 267px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 36px;
  background-color: #ffffff;
}

.services__card__icon-wrapper {
  margin-top: -1.7rem;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__card__icon-wrapper img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  box-sizing: border-box;
}

.services__card__label {
  margin-top: 0.75rem;
  font-size: 1.18rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: #1e1d4c;
}

.services__card__description {
  margin-top: 1rem;
  font-size: 0.95rem;
  font-family: "Poppins";
  color: #5e6282;
  line-height: 26px;
}

.destinations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 3.5rem;
}

.destinations__card {
  border-radius: 24px;
  overflow: hidden;
  width: 315px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.destinations__card__image {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.destinations__card__city-and-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.2rem;
  font-size: 1.05rem;
  font-family: "Poppins";
}

.destinations__card__duration {
  padding: 0 1.2rem 1.5rem 1.2rem;
  font-size: 0.95rem;
  font-family: "Poppins";
}
.destinations__card__duration::before {
  content: "";
  display: inline-block;
  width: 0.95rem;
  height: 0.95rem;
  margin-right: 10px;
  background: url("../assets/icons/navigation-icon.svg") no-repeat center;
  background-size: contain;
}

.booking-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.booking__steps__heading-label {
  margin-left: 6px;
}

.booking__steps__heading {
  margin-top: 0.5rem;
}

.booking__steps__step-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
  width: 70%;
  margin-top: 2rem;
}

.booking__steps__step-label,
.booking__steps__step-description {
  font-size: 0.95rem;
  font-family: "Poppins";
  color: #5e6282;
}

.booking__steps__step-label {
  font-weight: bold;
}

.booking__preview {
  width: 50%;
}/*# sourceMappingURL=style.css.map */