@import "./base/reset";
@import "./base/typography";
@import "./base/variables";
@import "./base/mixins";

body {
  padding: 0 10%;
}

.corner-decoration {
  position: absolute;
  top: 0px;
  z-index: -2;
}

.left-corner-decoration {
  left: 0px;
}

.right-corner-decoration {
  right: 0px;
}

//HEADER

nav {
  @include flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.main-links-list {
  @include flex;
  gap: 3rem;
  list-style: none;
}

.main-links__link {
  font-size: 1rem;
  color: $color-gray-dark;
  text-decoration: none;
}

.side-links-list {
  @include flex;
  gap: 2rem;
  list-style: none;
}

.side-links__signup-button {
  padding: 6px 21px;
  border-radius: 5px;
  border: 1px $color-gray-dark solid;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Open Sans";
}

.side-links__language-select {
  font-size: 1rem;
  color: $color-gray-dark;
  background-color: transparent;
  border: none;
}

//HERO SECTION
.hero-section {
  @include flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.hero__content__tagline {
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  color: $color-orange-warm;
}

.hero__content__heading {
  position: relative;
  font-family: "Volkhov";
  font-size: 84px;
  font-weight: bold;
  letter-spacing: -4%;
  line-height: 89px;
  color: $color-blue-dark;
}

.hero__content__heading__text-underline-decor {
  position: absolute;
  top: 70px;
  left: 280px;
  z-index: -1;
}

.hero__image-wrapper {
  height: 764px;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
