@import "./base/reset";
@import "./base/typography";
@import "./base/variables";
@import "./base/mixins";

body {
  padding: 0 10%;
}

.corner-decoration {
  position: absolute;
  top: 0px;
  z-index: -2;
}

.left-corner-decoration {
  left: 0px;
}

.right-corner-decoration {
  right: 0px;
}

//HEADER

nav {
  @include flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.main-links-list {
  @include flex;
  gap: 3rem;
  list-style: none;
}

.main-links__link {
  font-size: 1rem;
  color: $color-gray-dark;
  text-decoration: none;
}

.side-links-list {
  @include flex;
  gap: 2rem;
  list-style: none;
}

.side-links__signup-button {
  padding: 6px 21px;
  border-radius: 5px;
  border: 1px $color-gray-dark solid;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Open Sans";
}

.side-links__language-select {
  font-size: 1rem;
  color: $color-gray-dark;
  background-color: transparent;
  border: none;
}

//HERO SECTION
.hero-section {
  @include flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.hero__content__tagline {
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  color: $color-orange-warm;
}

.hero__content__heading {
  position: relative;
  font-family: "Volkhov";
  font-size: 84px;
  font-weight: bold;
  letter-spacing: -4%;
  line-height: 89px;
  color: $color-blue-dark;
}

.hero__content__heading__text-underline-decor {
  position: absolute;
  top: 70px;
  left: 280px;
  z-index: -1;
}

.hero__content__description {
  margin-top: 1.5rem;
  font-family: "Poppins";
  font-size: 0.94rem;
  color: $color-blue-gray;
  line-height: 30px;
}

.hero__content__cta-wrapper {
  @include flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 1.8rem;
}

.hero__content__cta-button--more {
  padding: 1rem 1.44rem;
  font-family: "Open Sans";
  font-size: 1.06rem;
  color: $color-white;
  border: none;
  border-radius: 10px;
  background-color: $color-yellow;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  cursor: pointer;
}

.hero__content__cta-button--play-demo-wrapper {
  @include flex;
  gap: 0.75rem;
}

.hero__content__cta-button--play-demo {
  font-family: "Poppins";
  font-size: 1rem;
  color: $color-gray-medium;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.play-button {
  width: 52px;
  height: 52px;
  background: $color-orange-warm;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.play-button::before {
  content: "";
  position: absolute;
  left: 21px;
  top: 17px;
  width: 0;
  height: 0;
  border-left: 14px solid white;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.hero__image-wrapper {
  height: 764px;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

//SERVICES SECTION

.services-section {
  @include flex(column);
  margin-bottom: 4rem;
}

.services__heading-label {
  font-size: 1.05rem;
  font-family: "Poppins";
  font-weight: 600;
  color: $color-blue-gray;
}

.services__heading {
  margin-top: 1rem;
  font-size: 2.95rem;
  font-family: "Volkhov";
  font-weight: bold;
  color: $color-navy-dark;
}

.services__cards-container {
  @include flex;
  gap: 1rem;
  margin-top: 2.6rem;
}

.services__card {
  @include flex(column);
  justify-content: space-evenly;
  width: 267px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 36px;
  background-color: $color-white;
}

.services__card__icon-wrapper {
  margin-top: -1.7rem;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
  }
}

.services__card__label {
  margin-top: 0.75rem;
  font-size: 1.18rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: $color-navy;
}

.services__card__description {
  margin-top: 1rem;
  font-size: 0.95rem;
  font-family: "Poppins";
  color: $color-blue-gray;
  line-height: 26px;
}
